__pycache__/
*.pyc
.DS_Store

# Python environments
.venv/
venv/
env/

# Uploaded files
uploads/

# Generated outputs
outputs/

# Databases
database/*.db
database/*.sqlite
database/*.sqlite3

# YOLO generated runs
runs/

# Large video files
data/videos/*.mp4
data/videos/*.mov
data/videos/*.avi

# IDE
.vscode/*
!.vscode/settings.json

# Logs
*.log
